@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />

<br />
<a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori Ekle</a>
